<div class="panel">
  <div class="panel-body" class="center-block">
    <div class="col-sm-3">
      <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="bookcover" height="75%" width="75%" style="padding-bottom: 30px;">
      <br/>
      <button type="button" class="btn btn-default" aria-label="Checkmark">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"> <p>Read</p></span>
      </button>

      <button type="button" class="btn btn-default" aria-label="Thumbs Up">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-default" aria-label="Thumbs Down">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      </button>
      <br/>
      <br/>
      <div class="alert alert-info">
        Available at the following branches:<br/><br/>
        George Bothwell<br/>
        Sunrise
      </div>
    </div>

    <div class = "col-sm-8" style="padding-bottom: 30px;">
      <div class="panel-body" style="padding-left: 0px;">

        <h3>{{book.volumeInfo.title}}</h3>
        <h5> by {{book.volumeInfo.authors}}</h5>

      </div>
      <p class="panel-body" style="padding-top: 0px; padding-left: 0px;">
        {{book.volumeInfo.description}}
      </p>
    </div>
    <div class = "col-md-4">
      <div class="content">
      <div class="comments">
        <div class="editor">
          <div class="editor-header">
          </div>
          <div id="text" class="editor-content" contenteditable>
          </div>
        </div>
            <br/>
            <button type = "submit" class = "btn btn-primary">Submit Comment</button>
        </div>
        <div class="list-comments">
        </div>
      </div>
    </div>
    </div>
  </div>
