<div class = "bookcover">
  <img src="http://books.google.com/books/content?id=tcSMCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="bookcover" height="15%" width="15%">
</div>


<div class = "readbutton">
  <button type="button" class="btn btn-default" aria-label="Checkmark">
  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"> <p>I have read this book</p></span>
</div>

<div class = "bookvoting">
  <button type="button" class="btn btn-default" aria-label="Thumbs Up">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>

  <button type="button" class="btn btn-default" aria-label="Thumbs Down">
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
</button>
</div>

<div class = "bookdescription">
  <p>Based on an original new story by J.K. Rowling, Jack Thorne and John Tiffany, a new play by Jack Thorne, Harry Potter and the Cursed Child is the eighth story in the Harry Potter series and the first official Harry Potter story to be presented on stage. The play received its world premiere in London’s West End on 30th July 2016. It was always difficult being Harry Potter and it isn’t much easier now that he is an overworked employee of the Ministry of Magic, a husband and father of three school-age children. While Harry grapples with a past that refuses to stay where it belongs, his youngest son Albus must struggle with the weight of a family legacy he never wanted. As past and present fuse ominously, both father and son learn the uncomfortable truth: sometimes, darkness comes from unexpected places.</p>
</div>

<div class = "bookcomments">
  <div class="content">
  <div class="comments">
    <div class="editor">
      <div class="editor-header">
      </div>
      <div id="text" class="editor-content" contenteditable>
        <p>Enter comments here!</p>
      </div>
    </div>
      <p>
        <button type = "submit" class = "btn btn-primary">Submit Comment</button>
      </p>
    </div>
    <div class="list-comments">
    </div>
  </div>
</div>
</div>
