<div class="panel">
  <div class="panel-body" class="center-block">
    <div class="col-sm-3">
      <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="bookcover" height="75%" width="75%" style="padding-bottom: 30px;">
      <br/>
      <button title="I read this book!" type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-check"></i>
      </button>

      <button title="thumbs up" type="button" class="btn btn-success" aria-label="Thumbs Up" style="font-family: 'Open Sans', sans-serif;">
        <i class="fa fa-thumbs-o-up"> 0 </i>
      </button>

      <button title="thumbs down" type="button" class="btn btn-danger" aria-label="Thumbs Down" style="font-family: 'Open Sans', sans-serif;">
        <i class="fa fa-thumbs-o-down"> 0 </i>
      </button>
      <br/><br/>
      <div class="alert alert-info">
        Available at The Regina Public Library
      </div>
    </div>

    <div class = "col-sm-8" style="padding-bottom: 30px;">
      <div class="panel-body" style="padding-left: 0px;">
        <h3>{{book.volumeInfo.title}}</h3>
        <h5> by {{book.volumeInfo.authors}}</h5>
      </div>
      <p class="panel-body" style="padding-top: 0px; padding-left: 0px;">
        {{book.volumeInfo.description}}
      </p>
    </div>
    <div class = "col-md-4">
      <div class="content">
      <div class="comments">
        <div class="editor">
          <div class="editor-header">
          </div>
          <div id="text" class="editor-content" contenteditable>
          </div>
        </div>
            <br/>
            <button type = "submit" class = "btn btn-primary">Submit Comment</button>
        </div>
        <div class="list-comments">
        </div>
      </div>
    </div>
    </div>
  </div>
