<div class="container-fluid">
  <div class="row">
    <img src="../images/Regina_Logo.png" class="center-block" class="img-responsive" width="350px"/>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <input type="text" class="form-control" class="col-sm-6" id="ajax" placeholder="What did you read today?" style="width: 50%; margin-bottom: 30px;">
    <div class="col-sm-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
