<div class="container-fluid">
  <div class="row">
    <img src="../images/Regina_Logo.jpg" class="center-block" class="img-responsive" width="350px"/>
    <input type="text" id="ajax" placeholder="Enter a book title">
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>

<script>
var shouldSearch = true;
var searchRequest = null;
var typingTimer;
var doneTypingInterval = 100;
var availableTags = [];

var input = document.getElementById('ajax');
$(input).on('keyup', function() {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(userTyped, doneTypingInterval);
});

$(input).on('keydown', function() {
  shouldSearch = true;
  clearTimeout(typingTimer);
});

$.post( "http://localhost:3000/book", function( data ) {
  console.log(data);
});
</script>
