<div class="container">
   <div class="row">
      <div class="panel-body">
         <h3 class="" style="padding-top: 0px;"> Top Books </h3>
         <h5 class=""> filter by <a href="/topbooks?week">week</a> / <a href="/topbooks?month">month</a> / <a href="/topbooks?year">year</a> </h5>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book1.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book2.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book3.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book4.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book5.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book6.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book7.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="panel">
            <div class="panel-body">
               <div class="panel-body">
                  <img src="../images/book8.jpg" class="center-block" class="img-responsive" style="width: 100%;"/>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
